.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 96%;
  background-color: #282828;
  padding: 20px;
}

.footer-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer-logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer-icon:hover,
.footer-green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer-green {
  color: green;
}

.footer-songInfo > h4 {
  margin-bottom: 5px;
}

.footer-songinfo > p {
  font-size: 12px;
}

.footer-center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
}

.footer-right * MuiSlider-root {
  color: green;
}
